<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta name="theme-color" content="#1900ff">

  <link rel="manifest" href="static/manifest.json">

  <title>When Did I Last... (Vue.js)</title>

  <% for (let cssFile in htmlWebpackPlugin.files.css) { %>
    <style>
      <%= compilation.assets[htmlWebpackPlugin.files.css[cssFile].substr(htmlWebpackPlugin.files.publicPath.length)].source() %>
    </style>
  <% } %>
</head>

<body>
  <noscript>
    You need to enable JavaScript to run this app.
  </noscript>
  <!--
      Feature detect Custom Elements support. If the browser DOES support Custom
      Elements then we need to load the custom-elements-es5-adapter because
      our project code has been transpiled from ES2015+ to ES5 and native Custom
      Elements expect elements will be registered as classes.
    -->
  <div id="ce-es5-shim">
    <script type="text/javascript">
      if (!window.customElements) {
        var ceShimContainer = document.querySelector('#ce-es5-shim');
        ceShimContainer.parentElement.removeChild(ceShimContainer);
      }
    </script>
    <script type="text/javascript" src="static/custom-elements-es5-adapter.js"></script>
  </div>

  <!--
      Use the webcomponents-loader script which will feature detect which Web
      Components features are missing and lazy load the appropriate polyfills.
      When we hear the 'WebComponentsReady' event from the polyfill bundle we can
      insert our JS files.
    -->
  <script>
    (function () {
      document.addEventListener('WebComponentsReady', function componentsReady() {
        document.removeEventListener('WebComponentsReady', componentsReady, false);
        const refScript = document.getElementsByTagName('script')[0];
        const jsFiles = '<%= htmlWebpackPlugin.files.js %>'.split(',');
        for(let jsFile of jsFiles){
          let script = document.createElement('script');
          script.src = jsFile;
          refScript.parentNode.insertBefore(script, refScript);
        }
      }, false);
    })();
  </script>
  <script src="static/webcomponents-loader.js"></script>

  <custom-style>
    <style include="lumo-color lumo-typography"></style>
  </custom-style>

  <div id="app"></div>
  <!-- built files will be auto injected -->

</body>

</html>